In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy.stats import chi2_contingency
from scipy.stats import zscore
from scipy.stats import linregress
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

# PRÉ PROCESSAMENTO

In [16]:
dados_clientes = pd.read_csv("C:/Projetos Pessoais/DataScience/segmentacao_Clientes_Ecomerce/data/dados_clientes_para_pre_processing.csv")

In [17]:
dados_clientes

,Cod_cliente,Ultima_Compra,Total_transacoes,Valor_total_gasto,Avg_transacao,Dia_fav_compra,UK,Gastos_medios_mensais,Desvio_padrao_gastos_mensais,Tendencia_gastos
0,12347,2,182,4310.00,23.68,1,0,615.714286,341.070789,4.486071
1,12348,75,27,1437.24,53.23,3,0,359.310000,203.875689,-100.884000
2,12349,18,72,1457.55,20.24,0,0,1457.550000,0.000000,0.000000
3,12350,310,16,294.40,18.40,2,0,294.400000,0.000000,0.000000
4,12352,36,77,1385.74,18.00,1,0,346.435000,120.042154,-2.682000
...,...,...,...,...,...,...,...,...,...,...
5505,21821,1,2,3.35,1.68,3,1,3.350000,0.000000,0.000000
5506,21822,1,634,5699.00,8.99,3,1,5699.000000,0.000000,0.000000
5507,21823,0,730,6756.06,9.25,4,1,6756.060000,0.000000,0.000000
5508,21824,0,59,3217.20,54.53,4,1,3217.200000,0.000000,0.000000
5509,21825,0,217,3950.72,18.21,4,1,3950.720000,0.000000,0.000000

# Padronização das variáveis

##### Não irei noramlizar as seguintes variáveis:

- Cod_cliente: Pois se refere a código de cada cliente, sem valor expressivo ou relevante;

- UK: Pois já está no formato booleano, 0 ou 1;

- Dia_fav_compra: Pois ´variável categórica e ja está normalizada (1 a 7)

In [18]:
# Variáveis excluidas
var_exclude = ['Cod_cliente', 'Dia_fav_compra', 'UK']

In [25]:
# Inicando o objeto Scaler 
scaler = StandardScaler()

dados = dados_clientes.copy()
colunas_padronizadas = dados.columns.difference(var_exclude)
colunas_padronizadas

Index(['Avg_transacao', 'Desvio_padrao_gastos_mensais',
       'Gastos_medios_mensais', 'Tendencia_gastos', 'Total_transacoes',
       'Ultima_Compra', 'Valor_total_gasto'],
      dtype='object')

In [26]:
# Treinando a padronização nos dados - exceto variáveis listadas em var_exclude
dados[colunas_padronizadas] = scaler.fit_transform(dados[colunas_padronizadas])

In [28]:
# Amostra do dataframe já padronizado
dados.sample(8)

,Cod_cliente,Ultima_Compra,Total_transacoes,Valor_total_gasto,Avg_transacao,Dia_fav_compra,UK,Gastos_medios_mensais,Desvio_padrao_gastos_mensais,Tendencia_gastos
269,12688,-0.021099,0.642088,1.755412,0.020742,3,0,4.598662,-0.511282,0.038867
4888,20276,0.762102,-0.294938,-0.442619,-0.187193,0,1,-0.160652,-0.511282,0.038867
3167,16732,-0.759289,-0.456230,-0.356008,-0.052325,1,1,0.026885,-0.511282,0.038867
4590,19533,1.572310,0.949309,0.149945,-0.198143,1,1,1.122404,-0.511282,0.038867
5269,21146,-0.408198,-0.617521,-0.633975,-0.216778,4,1,-0.574986,-0.511282,0.038867
1801,14849,-0.849312,2.308765,3.266876,-0.064117,3,1,0.152375,0.974720,0.444888
3586,17325,1.482287,-0.625202,-0.606680,-0.109494,4,1,-0.515886,-0.511282,0.038867
1348,14215,-0.939335,0.158214,0.230420,-0.104862,0,1,-0.236290,0.790769,0.068616

In [30]:
# Indexação com código cliente
dados.set_index('Cod_cliente', inplace = True)

In [41]:
# Salvando dados para clusterizar
dados.to_csv('../data/dados_processados.csv', sep =',', index = True, encoding = 'utf-8')