In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from scipy.stats import chi2_contingency
from scipy.stats import zscore
from scipy.stats import linregress
from sklearn.ensemble import IsolationForest
from sklearn.model_selection import cross_val_score

import warnings
warnings.filterwarnings('ignore')

In [5]:
# PRÉ PROCESSAMENTO

In [8]:
dados_clientes = pd.read_csv("C:/Projetos Pessoais/DataScience/segmentacao_Clientes_Ecomerce/data/dados_clientes_para_pre_processing.csv")

In [9]:
dados_clientes

,Cod_cliente,Ultima_Compra,Total_transacoes,Qtd_comprada,Valor_total_gasto,Avg_transacao,Dia_fav_compra,UK,Gastos_medios_mensais,Desvio_padrao_gastos_mensais,Tendencia_gastos,Outlier
0,12347,2,182,2458,4310.00,23.68,1,0,615.714286,341.070789,4.486071,0
1,12348,75,27,2332,1437.24,53.23,3,0,359.310000,203.875689,-100.884000,0
2,12349,18,72,630,1457.55,20.24,0,0,1457.550000,0.000000,0.000000,0
3,12350,310,16,196,294.40,18.40,2,0,294.400000,0.000000,0.000000,0
4,12352,36,77,526,1385.74,18.00,1,0,346.435000,120.042154,-2.682000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
5505,21821,1,2,2,3.35,1.68,3,1,3.350000,0.000000,0.000000,0
5506,21822,1,634,1747,5699.00,8.99,3,1,5699.000000,0.000000,0.000000,0
5507,21823,0,730,2010,6756.06,9.25,4,1,6756.060000,0.000000,0.000000,0
5508,21824,0,59,654,3217.20,54.53,4,1,3217.200000,0.000000,0.000000,0
5509,21825,0,217,731,3950.72,18.21,4,1,3950.720000,0.000000,0.000000,0